@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@300&family=Bellefair&display=swap");
/*
RESET
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

/*
Utility fonction
*/
.main-container {
  margin-top: 3rem;
  display: grid;
  place-items: center;
  gap: var(--gap-main, 0);
}

.ff-cond {
  font-family: "Barlow Condensed";
}

.ff-serif {
  font-family: "Bellefair";
}

.ff-sans {
  font-family: "Barlow";
}

.uppercase {
  text-transform: uppercase;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--separator-clr, white);
}

/*
Composant ?
*/
.numbered-title {
  font-family: "Barlow Condensed";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.256em;
  font-size: 1rem;
}
.numbered-title span {
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.256);
  margin-right: 0.75em;
}

@media screen and (min-width: 890px) {
  .numbered-title {
    font-size: 1.7rem;
  }
}
/*
TODO change name
Le reste
*/
body {
  background-image: url("./assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh;
  color: white;
  font-family: "Barlow";
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-x: hidden;
}
body header {
  display: flex;
  justify-content: space-between;
}
body header .logo-wrapper {
  margin-top: 25px;
  margin-left: 25px;
}
body header button {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  margin-top: 25px;
  margin-right: 25px;
  z-index: 2;
}
body header button img.hidden {
  display: none;
}
body header nav {
  font-family: "Barlow Condensed";
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: fixed;
  z-index: 1;
  right: 0;
  transform: translateX(100%);
  height: 100vh;
  width: 75%;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 7rem 2rem;
  transition: transform 0.5s ease-out;
}
body header nav.active {
  transform: translateX(0);
}
body header nav ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
body header nav ul li {
  list-style: none;
}
body header nav ul li strong {
  margin-right: 0.5rem;
}
body .main-container--home {
  padding-bottom: 2rem;
}
body .main-container--home .hero h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Barlow Condensed";
  color: hsl(231, 77%, 90%);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
}
body .main-container--home .hero h1 strong {
  font-family: "Bellefair";
  color: hsl(0, 0%, 100%);
  font-size: 5em;
  font-weight: 400;
}
body .main-container--home .hero p {
  max-width: 390px;
  text-align: center;
  font-size: 1em;
  margin: auto;
  line-height: 1.4em;
}
body .main-container--home .explore-btn {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Bellefair";
  font-size: 2em;
  color: black;
  background-color: white;
  display: grid;
  padding: 2.2em;
  aspect-ratio: 1;
  border-radius: 50%;
  align-content: center;
  position: relative;
}
body .main-container--home .explore-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.4);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
}
body .main-container--home .explore-btn:hover::after {
  transform: scale(1.4);
  opacity: 1;
}

.body--destination {
  background-image: url("./assets/destination/background-destination-mobile.jpg");
}
.body--destination .main-container--destination .destination-img-wrapper {
  grid-column: 1;
  grid-row: 2;
  margin-top: 1.256rem;
  justify-self: center;
  text-align: center;
  opacity: 0;
  z-index: -1;
  transform: translate(-150px, 75px) scale(0.5);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in;
}
.body--destination .main-container--destination .destination-img-wrapper img {
  max-width: 65%;
}
.body--destination .main-container--destination .destination-img-wrapper.active {
  transform: translate(0, 0) scale(1);
  opacity: 1;
}
.body--destination .main-container--destination .nav-destinations {
  grid-row: 3;
  justify-self: center;
  display: flex;
  list-style: none;
  gap: 1rem;
}
.body--destination .main-container--destination .nav-destinations button {
  position: relative;
  font-size: 1.256rem;
  text-transform: uppercase;
  color: hsl(231, 77%, 90%);
  letter-spacing: 0.125em;
  font-family: inherit;
  border: none;
  background-color: transparent;
  padding: 1em 0;
  cursor: pointer;
}
.body--destination .main-container--destination .nav-destinations button.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
}
.body--destination .main-container--destination .stats-container {
  grid-row: 4;
  grid-column: 1;
  visibility: hidden;
  text-align: center;
  padding: 0 0.75rem;
}
.body--destination .main-container--destination .stats-container.active {
  visibility: visible;
}
.body--destination .main-container--destination .stats-container h1 {
  margin-top: 0.3em;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
}
.body--destination .main-container--destination .stats-container p {
  font-size: 1.125rem;
  line-height: 1.5em;
  margin-bottom: 2.5rem;
}
.body--destination .main-container--destination .stats-container div:last-child {
  display: flex;
  justify-content: space-between;
}
.body--destination .main-container--destination .stats-container div:last-child .stats {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.body--destination .main-container--destination .stats-container div:last-child .stats span:first-child {
  text-transform: uppercase;
  color: hsl(231, 77%, 90%);
}
.body--destination .main-container--destination .stats-container div:last-child .stats span:last-child {
  font-family: "Bellefair";
  text-transform: uppercase;
  font-size: 2em;
}

.body--crew {
  background-image: none;
  background-color: hsl(230, 35%, 7%);
}
.body--crew .main-container--crew {
  grid-template-areas: "title" "image" "nav" "article";
  justify-items: center;
}
.body--crew .main-container--crew .crew-image {
  grid-area: image;
  display: flex;
  justify-content: center;
  visibility: hidden;
  max-width: 60%;
  position: relative;
}
.body--crew .main-container--crew .crew-image.active {
  visibility: visible;
}
.body--crew .main-container--crew .crew-image img {
  max-width: 100%;
}
.body--crew .main-container--crew .crew-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.25);
  bottom: 0;
}
.body--crew .main-container--crew ul {
  grid-area: nav;
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.body--crew .main-container--crew ul button {
  background-color: hsla(0, 0%, 100%, 0.25);
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.body--crew .main-container--crew ul button[aria-selected=true] {
  background-color: white;
}
.body--crew .main-container--crew article {
  grid-area: article;
  text-align: center;
  visibility: hidden;
}
.body--crew .main-container--crew article.active {
  visibility: visible;
}
.body--crew .main-container--crew article h3 {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.9rem;
}
.body--crew .main-container--crew article h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.body--crew .main-container--crew article p {
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 0 1em;
}

.body--technology {
  background-image: url("./assets/technology/background-technology-mobile.jpg");
}
.body--technology .main-container--technology {
  grid-template-areas: "title" "image" "tabs" "article";
  justify-items: center;
}
.body--technology .main-container--technology h2 {
  grid-area: title;
}
.body--technology .main-container--technology ul {
  grid-area: tabs;
  margin-top: 3rem;
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
.body--technology .main-container--technology ul button {
  width: 100%;
  font-size: 1.256rem;
  border: 1px hsla(0, 0%, 100%, 0.5) solid;
  background-color: transparent;
  color: white;
  font-family: "Bellefair";
  display: grid;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 1em;
  line-height: 0;
  place-items: center;
  cursor: pointer;
  transition: background-color 0.09s ease-in;
}
.body--technology .main-container--technology ul button[aria-selected=true] {
  background-color: white;
  color: black;
}
.body--technology .main-container--technology ul button:hover {
  background-color: white;
  color: black;
}
.body--technology .main-container--technology article {
  grid-area: article;
  margin-top: 3rem;
  padding: 1rem;
  font-size: 1.125rem;
  visibility: hidden;
  text-align: center;
}
.body--technology .main-container--technology article.active {
  visibility: visible;
}
.body--technology .main-container--technology article h3 {
  color: hsl(231, 77%, 90%);
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.6rem;
  letter-spacing: 0.2em;
}
.body--technology .main-container--technology article h1 {
  color: white;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 1rem;
}
.body--technology .main-container--technology article p {
  line-height: 1.75em;
}
.body--technology .main-container--technology .img-technology {
  grid-area: image;
  margin-top: 4rem;
  max-width: 50%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  visibility: hidden;
}
.body--technology .main-container--technology .img-technology.active {
  visibility: visible;
}
.body--technology .main-container--technology .img-technology img {
  max-width: 105%;
}

@media screen and (min-width: 540px) {
  body {
    background-image: url("./assets/home/background-home-tablet.jpg");
  }
  .body--destination {
    background-image: url("./assets/destination/background-destination-tablet.jpg");
  }
  .body--crew .main-container--crew {
    grid-template-rows: min-content auto min-content auto;
  }
  .body--crew .main-container--crew .crew-image {
    max-width: 40%;
  }
  .body--crew article {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 890px) {
  .main-container {
    grid-template-columns: minmax(2.56rem, 1fr) repeat(2, minmax(0, 32rem)) minmax(2.56rem, 1fr);
  }
  body {
    background-image: url("./assets/home/background-home-desktop.jpg");
  }
  body header {
    align-items: center;
    padding: 3rem 0 0 3rem;
  }
  body header .logo-wrapper {
    margin: 0;
    margin-right: 1.2rem;
  }
  body header button {
    display: none;
  }
  body header nav {
    display: block;
    height: fit-content;
    width: fit-content;
    padding: 0 4.3em;
    order: 2;
    backdrop-filter: blur(1rem);
    transform: translateX(0);
  }
  body header nav ul {
    flex-direction: row;
    gap: 2.7em;
  }
  body header nav ul li {
    position: relative;
    padding: 1.8em 0;
    font-size: 1.1rem;
  }
  body header nav ul li.active::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  body header::after {
    content: "";
    order: 1;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
  }
  body .main-container--home {
    grid-template-rows: auto;
    --gap-main: 2rem;
    place-items: center;
    align-items: end;
    padding-bottom: 20vh;
  }
  body .main-container--home .hero {
    grid-column: 2;
  }
  body .main-container--home .hero h1 {
    align-items: flex-start;
    font-size: 1.8rem;
  }
  body .main-container--home .hero h1 strong {
    font-size: clamp(5rem, 7vw + 1rem, 9rem);
  }
  body .main-container--home .hero p {
    text-align: left;
    font-size: 1.1rem;
  }
  .body--destination {
    background-image: url("./assets/destination/background-destination-desktop.jpg");
  }
  .body--destination .main-container--destination {
    grid-template-rows: min-content auto 1fr;
    align-items: start;
  }
  .body--destination .main-container--destination h2 {
    grid-row: 1;
    grid-column: 2;
    justify-self: start;
  }
  .body--destination .main-container--destination .nav-destinations {
    grid-row: 2;
    grid-column: 3;
    justify-self: start;
  }
  .body--destination .main-container--destination .destination-img-wrapper {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 2;
  }
  .body--destination .main-container--destination .destination-img-wrapper img {
    max-width: 90%;
  }
  .body--destination .main-container--destination .stats-container {
    grid-column: 3;
    grid-row: 3;
    visibility: hidden;
    text-align: start;
    padding: 0;
  }
  .body--destination .main-container--destination .stats-container h1 {
    margin: 0.4em 0;
  }
  .body--crew {
    background-image: url("./assets/crew/background-crew-desktop.jpg");
  }
  .body--crew .main-container--crew {
    grid-template-areas: ". title . ." ". article image ." ". nav image .";
    grid-template-rows: min-content minmax(20rem, 1fr) min-content;
    justify-items: start;
  }
  .body--crew .main-container--crew h2 {
    grid-area: title;
    letter-spacing: 0.2em;
    font-size: 1.7rem;
  }
  .body--crew .main-container--crew article {
    margin-top: 1rem;
    text-align: start;
  }
  .body--crew .main-container--crew article h3 {
    font-size: 2rem;
  }
  .body--crew .main-container--crew article h1 {
    font-size: 3.7rem;
  }
  .body--crew .main-container--crew article p {
    font-size: 1.125rem;
    padding: 0;
  }
  .body--crew .main-container--crew .crew-image {
    align-self: end;
    max-width: 100%;
  }
  .body--crew .main-container--crew .crew-image img {
    max-width: 90%;
  }
  .body--crew .main-container--crew ul {
    margin-bottom: 3.256rem;
  }
  .body--crew .main-container--crew ul button {
    width: 1.256rem;
  }
  .body--technology {
    background-image: url("./assets/technology/background-technology-desktop.jpg");
  }
  .body--technology .main-container--technology {
    grid-template-areas: ". title title title ." ". tabs article image .";
    grid-template-columns: minmax(2.56rem, 1fr) 11rem repeat(2, minmax(15rem, 32rem)) minmax(2.56rem, 1fr);
    grid-template-rows: min-content 1fr;
    place-items: start;
  }
  .body--technology .main-container--technology ul {
    margin-top: 10rem;
    flex-direction: column;
    gap: 3rem;
  }
  .body--technology .main-container--technology ul button {
    font-size: 2.5rem;
  }
  .body--technology .main-container--technology article {
    margin-top: 10rem;
    text-align: start;
    font-size: 1.125rem;
  }
  .body--technology .main-container--technology .img-technology {
    justify-self: end;
    align-self: center;
    visibility: hidden;
    border-radius: 0;
    max-width: 100%;
    margin-left: 3rem;
  }
  .body--technology .main-container--technology .img-technology.active {
    visibility: visible;
  }
}

/*# sourceMappingURL=style.css.map */
