@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@300&family=Bellefair&display=swap');

// Barlow Condensed: nav
// Barlow: hero
// Bellefair: SPACE and EXPLORE

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
Utility fonction
*/

.main-container {
    margin-top: 3rem;
    padding: 0 10px;
    display: grid;
    grid-template-rows: .5fr .5fr;
    place-items: center;
    gap: var(--gap-main, 0);
}

body {
    background-image: url("./assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-height: 100vh;
    color: white;
    font-family: 'Barlow';
    display: grid;
    grid-template-rows: auto 1fr;

    header {
        display: flex;
        justify-content: space-between;
        
        .logo-wrapper {
            margin-top: 25px;
            margin-left: 25px;
        }
        button {
            background-color: rgba(255, 255, 255, 0);
            border: 0px;
            margin-top: 25px;
            margin-right: 25px;
            z-index: 1;

            img.hidden {
                display: none;
            }
        }

        nav {
            display: none;
            font-family: 'Barlow Condensed';
            font-size: 1.2em;
            text-transform: uppercase;
            letter-spacing: 3px;
            position: absolute;
            right: 0;
            height: 100vh;
            width: 75%;
            backdrop-filter: blur(6px);
            background-color: rgba(255, 255, 255, .1);
            padding: 7rem 2rem;
            &.active {
                display: block;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                li {
                    list-style: none;
                    strong {
                        margin-right: .5rem;
                    }
                }
            }
        }
    }

    .main-container--home {
        padding-bottom: 2rem;
        .hero {
            h1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'Barlow Condensed';
                color: hsl(231 77% 90%);
                font-weight: 300;
                text-transform: uppercase;
                font-size: 1em;
                letter-spacing: 4px;
                strong {
                    font-family: 'Bellefair';
                    color: hsl(0 0% 100%);
                    font-size: 5em;
                }
            }
            p {
                max-width: 390px;
                text-align: center;
                font-size: 1em;
                margin: auto;
                line-height: 1.4em;
            }
        }
        
        .explore-btn {
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Bellefair';
            font-size: 2em;
            color: black;
            background-color: white;
            display: grid;
            padding: 2.2em;
            aspect-ratio: 1;
            border-radius: 50%;
            align-content: center;
            position: relative;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                z-index: -1;
                position: absolute;
                border-radius: 50%;
                background-color: hsla(0, 0%, 100%, 0.4);
                opacity: 0;
                transition: transform .5s ease-in-out, opacity .2s ease-in-out;
            }

            &:hover::after {
                transform: scale(1.4);
                opacity: 1;
            }
        }
    }
}

@media screen and (min-width: 540px) {
    body {
        background-image: url("./assets/home/background-home-tablet.jpg");
    }
}

@media screen and (min-width: 890px) {
    body {
        background-image: url("./assets/home/background-home-desktop.jpg");


    header {
        align-items: center;
        padding: 3rem 0 0 3rem;
        .logo-wrapper {
            margin: 0;
            margin-right: 1.2rem;
        }
        button {
            display: none;
        }

        nav {
            display: block;
            position: absolute;
            height: fit-content;
            width: fit-content;
            padding: 1.8em 4.3em;
            order: 2;
            backdrop-filter: blur(1rem);
            ul {
                flex-direction: row;
                gap: 2.7em;
                li {
                    font-size: 1.1rem;
                }
            }
        }
        &::after {
            content: "";
            order: 1;
            height: 1px;
            background-color: rgba(255, 255, 255, .3);
            width: 100%;
        }
    }

        .main-container--home {
            grid-template-rows: auto;
            grid-template-columns: 1fr minmax(0, 25rem) minmax(0, 25rem) 1fr;
            --gap-main: 2rem;
            place-items: center;
            align-items: end;
            padding-bottom: 20vh;
            
            .hero {
                grid-column: 2;
                h1 {
                    align-items: flex-start;
                    font-size: 1.8rem;
                    strong {
                        // TODO: rember this
                        font-size: clamp(5rem, 7vw + 1rem, 9rem);
                    }
                }
                p {
                    text-align: left;
                    font-size: 1.1rem;
                }
            }
        }
    }
}